table {
  table-layout: fixed;
  width: 75%;
  border-collapse: collapse;  
  background-color: white;
  margin-top: 5rem;
  margin-left: 10rem;
  border-radius: 15px;
  overflow: hidden;
}
thead tr {
  background-color: black;  
}
tr th {
  color: white;
}
thead th:nth-child(1){
width: 20%;
}
thead th:nth-child(2){
  width: 15%;
}
thead th:nth-child(3){
  width: 25%;
}
thead th:nth-child(4){
 width: 10%; 
}
thead th:nth-child(5){
  width: 20%;
}
thead th:nth-child(6){
  width: 10%;
}
tbody td {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: rgb(192, 187, 187);
}
tbody tr:nth-child(even) {
  background-color: grey;
}
tbody tr td {
  padding: 5px;
  font-size: 15px;
  height: 10px;
}

