html {
    background-color: #e0e7f1;
}
tbody td {
    width: 20%;
    height: 30%;
    line-height: 60px;
    background-color: #ffff;
}
table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 70%;
    height: 40%;
}
tbody th {
    font-size: smaller;
    color: gray;
    text-align: left;
    background-color: #ffff;
}
.clas {
    color: black;
    width: 10px;
    height: 4px;
}
.clas :nth-child(1) {
    text-align: left;
    padding-bottom: 20px;
}
.clas :nth-child(2) {
    text-align: right;
    padding-bottom: 20px;
}
.clas :nth-child(3) {
    text-align: center;
    padding-bottom: 20px;
}
.clas :nth-child(4) {
    text-align: center;
    padding-bottom: 20px;
}
.clas :nth-child(5) {
    text-align: center;
    padding-bottom: 20px;
}
.clas :nth-child(6) {
    text-align: center;
    padding-bottom: 20px;
}

.button {
    width: 75px;
    height: 25px;
    background-color: #1571e7;
    color: #ffffff;
    border-radius: 7px;
    border-color: #1571e7;
    margin-left: 100px;
}
h1 {
    font-size: largeer;
    font-weight: bolder;
    padding-bottom: 20px;
}
tbody td:nth-child(6) {
    text-align: center;
}

span {
    font-size: 10px;
    color: rgb(0, 0, 0);
}
i {
    color: green;
}
tbody td:nth-child(5){
    align-items: center;
}
tbody tr td:nth-child(4){
    text-align: center;
    margin-left: 90px;
}

tbody tr td:nth-child(3){
    text-align: center;
    margin-left: 90px; 
}

tbody tr td:nth-child(2){
    color: green;
    text-align: right;
    margin-left: 90px;
}

.prof {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(57, 141, 209);
}
.display {
    display: flex;
}

tbody tr th:nth-child(1) {
    display: flex;
    padding: 7px;
    margin-left: 5px;
}







