.pair {
    background-color: gray;
    display: table-row;
}
.no-pair {
    background-color: white;
    display: table-row;
}
.class-td {
    width: 50px;
    height: 13px;
}
.table {
    border-collapse: collapse;
    table-layout: inherit;
    width: 60%;
}
 tbody td {
    text-align: center;
}
th,
td {
    padding: 15px;
}
tbody tr:nth-child(odd) {
    background-color: rgb(212, 214, 216);
}
  
tbody tr:nth-child(even) {
    background-color: rgb(255, 244, 255);
}
.align {
    padding-left: 60px;
    text-align: left;
}

.button-p {
    width: 85px;
    height: 40px;
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
}
.button-o {
    width: 65px;
    height: 40px;
    background-color: rgb(233, 229, 21);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
}
.button-hold {
    width: 75px;
    height: 40px;
    background-color: rgb(223, 20, 20);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
}