body {
    background-color: #2e83bb;
}

input {
    background-color: rgb(245, 237, 237);
    color: gray;
    width: 280px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    margin-bottom: 10px;
    margin-left: 55px;
}

form {
    width: 400px;
    height: 300px;
    border-style: groove;
    border-radius: 5px;
    background-color: white;
    margin-left: 200px;
    margin-top: 100px;
}

h1 {
    font-family: sans-serif;
    color: rgb(97, 92, 92);
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 40px;
}

button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #2ecc71;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 110px;
}

h3 {
    color: #ffffff;
    font-weight: bold;
    margin-left: 50px;
    margin-left: 260px;
}

a {
    font-family: sans-serif;
    text-decoration: underline;
    color: #cfcd3a;
}