*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(66, 167, 226);
  text-align: center;
}
.container {
  background-color: white;
  width: 60%;
  height: 400px;
  margin: auto;
  margin-top: 7rem;  
  text-align: center;
  padding-top: 8rem;
}
h1 {
  margin-bottom: 1rem;
}
input {
  width: 300px;
  height: 50px;
  background-color: rgb(228, 222, 222);
  font-size: 20px;
}
button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(48, 184, 30);
  color: white;
  margin-top: 1rem;
}
p{
  padding-top: 1rem;
  color: white;
}
a {
  color: orange;
}