* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.background {
   position:absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}
table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80vh;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 10px 20px rgba(15, 15, 15, 0.1);
  font-size: 1rem;
  margin-top: 20px; 
}
table tr td,
thead tr th {
  padding-left: 30px;
}
thead tr th {
  text-align: left;
  background-color: white;
  height: 50px;
  font-weight: normal;
  font-size: 0.7;
}
tbody tr th:first-child {
  font-size: 12px;
}
h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px; 
}
tbody tr:nth-child(odd) {
  background:#e6e3e3;
}
.btn {
  font-size: 1rem;
  padding: 6px;
  border-radius: 2px;
  text-align: center;
  border: none;
}
.btn-green {
  background-color:rgb(54, 177, 54);
  color: white;
}
.btn-yellow {
  background-color: rgb(236, 209, 52);
  color:black;
}
.btn-red {
  background-color: rgb(214, 41, 29);
  color:white;
}