body,
html {
    background-color: rgb(244, 245, 245);
}

.div1 {
    width: 100%;
    height: 700px;
    background-image: url(modern-building.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: azure;
    font-size: 25px;
}

input {
    color: gray;
    width: 360px;
    height: 40px;
    background-color: white;
    border-radius: 5rem;
    border: none;
}

.submit {
    width: 75px;
    height: 35px;
    border-radius: 5rem;
    background: linear-gradient( to left, deeppink, rgb(116, 14, 119)) ;
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    margin-left: 7px;
}

.color-p {
    color: white;
}

pre {
    color: white;
}
.section1 {
    display: grid;
    margin-top: 200px;
    margin-left: 650px;
}

 header {
    width: 70%;
    margin-left: 15%;
 }

nav {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    height: 42px;
    background-color: white;
}

nav a:nth-child(1) {
    color: rgb(42, 59, 134);
    font-family: sans-serif;
    font-weight: bold;
    font-size: larg;
    padding-right: 54%;
}

nav a:nth-child(2) {
    color: rgb(42, 59, 134);
    font-family: sans-serif;
}

nav a{
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: gray;
}

.div-box {
    width: 300px;
    height: 150px;
    background-color: white;
    margin: 10px;
    box-shadow:  10px 8px 10px gray;
}

.div-box:nth-child(1) p {
    background-color: white;
    margin-top: 15px;
    margin-left: 90px;
}

.div-box:nth-child(1) img {
    margin-left: 100px;
    margin-top: 35px;
}

.div-box:nth-child(2) p {
    background-color: white;
    margin-top: 15px;
    margin-left: 90px;
}

.div-box:nth-child(2) img {
    margin-left: 100px;
    margin-top: 35px;
}

.div-box:nth-child(3) p {
    background-color: white;
    margin-top: 15px;
    margin-left: 90px;
}

.div-box:nth-child(3) img {
    margin-left: 100px;
    margin-top: 35px;
}

.div-box:nth-child(4) p {
    background-color: white;
    margin-top: 15px;
    margin-left: 90px;
}

.div-box:nth-child(4) img {
    margin-left: 100px;
    margin-top: 35px;
}

.displayY {
    padding-top: 230px;
    padding-left: 200px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
}

.section3 h1 {
    color: rgb(42, 59, 134);
    margin-left: 210px;
    margin-top: 150px;
    margin-bottom: 70px;
}

.section3 button {
    width: 160px;
    height: 40px;
    border-radius: 5rem;
    background: linear-gradient( to left, deeppink, rgb(116, 14, 119)) ;
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    margin-left: 820px;
    font-size: small;
    margin-top: 140px;
}

.image {
    width: 28.5%;
    height: 300px;
    background-color: lightblue;
    background-image: url(modernhouse00.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image1 {
    width: 28.5%;
    height: 300px;
    background-color: lightblue;
    background-image: url(moderhouse1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.image2 {
    width: 28.5%;
    height: 300px;
    background-color: lightblue;
    background-image: url(modernhouse3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.display-image {
    display: flex;
    margin: 0;
    margin-left: 210px;
}

.display-this-two {
    display: flex;
    
}
