body {
    font-family: sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

.section-1 {
    width: 100%;
    height: 700px;
    background-image: url(backpic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: aqua;
    padding-top: 20px;
}

header {
    width: 100%;
    margin-left: 1.5%;
 }


nav a:nth-child(1) {
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding-right: 35%;
}

nav a:nth-child(2) {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: 2px underline #1f7ed0;

}

nav a:nth-child(2){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(3){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(4){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(5){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(6){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(7){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(8){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(9){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(10){
    text-decoration: none;
    padding-left: 20px;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(11){
    text-decoration: none;
    font-family: sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:nth-child(8) {
    margin-right: 20px;
}

nav a:nth-child(11) {
    margin: 0;
    color: gray;
}

button {
    width: 110px;
    height: 38px;
    border-radius: 20px;
    border: none;
    color:#1f7ed0;
    font-weight: bold;
}

.div-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.div-1 h1 {
    font-size: 60px;
}

.div-1 p {
    color: gray;
    font-weight: bold;
    margin-left: 100px;
}

.div-1 button {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: #1f7ed0;
    margin-left: 100px;
}

.div-2 {
    width: 100%;
    height: 650px;
    background-image: url(backpic.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-2 img {
    width: 500px;
    height: 300px;
    margin-left: 200px;
}

.div-2 h2, h1 {
    margin-left: 100px;
}
