body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #d9e2eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-center {
  background: #fff;
  width: 55rem;
  text-align: center;
  padding: 3rem 1.5rem;
  border-radius: 5px;
  border: 4px solid #bdccdb;
}

.section-center h1 {
  font-size: 2.5rem;
  color: #344e67;
  margin-bottom: 3.5rem;
}

.container {
  display: grid;
  min-height: 25rem;
  grid-template-columns: repeat(7, 1fr);
}

.box-one {
  grid-column: 6/7;
}

.box-two {
  grid-column: 7/8;
}

.container span {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #4b6681;
}
span.day {
  color: #839ab0;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .section-center {
    width: 95vw;
    height: 80vh;
    border: 2px solid #bdccdb;
    padding: 2rem 0 0 0;
  }

  .section-center h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .container span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .section-center {
    width: 95vw;
    height: 90vh;
    padding: 2rem 1.2rem 1.5 1.2rem;
  }

  .section-center h1 {
    margin: 1rem 0 4.5rem 0;
  }

  .section-center h1 {
    font-size: 2rem;
  }

  .container span {
    font-size: 1.3rem;
  }
}
