* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../images-pages/b-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height : 400px;
    position: relative;
}
nav {
    background-color: white;
    color:grey;
    width: 500px;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    padding: 10px;
    display: inline-block;
    float:right;
}
nav ul a {
    color: grey;
}

#Pops {
    float:left;
    color:rgb(27, 138, 138);
    font-weight: bold; 
}
nav a {
    text-decoration: none;
}

.container1 {
    text-align: center;
    padding-top: 150px;
    position:relative;
    padding-left: 20px;
}

.container1 h1 {
    padding-bottom: 10px;
}

button {
    padding: 5px 5px;
    border-radius: 10px;
}

#button-first {
    background-color: white;
    color: grey;
    width: 250px;
}

#button-second {
    background-color:rgb(46, 4, 46) ;
    color: white;
}

.container1 p {
    width: 400px;
    position: absolute;
    left: 500px;
    padding-top: 20px;
}

.material-icons {
    color: rgb(14, 14, 75);
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    height: 100px;
}

.container2 p {
    background-color: white;
    width: 18%;
    height: 80px;
    margin-top: -100px;
    z-index: 1;
    text-align: center;
    border: 1px solid;
    font-weight: bolder;
    box-shadow: 1px 1px;
}

.container2 p span {
    padding-top: 7px;
}

.container3 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.container3 h2 {
   color: rgb(14, 14, 75);
}

#third-button {
   background-color :rgb(46, 4, 46);
   color: white;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    padding-top: 20px;
}