@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(145, 105, 192) , rgb(195, 72, 233));;
    height: 100vh;
}

thead {
    background-color: rgb(64, 45, 80);
    color: #fff;

    /* overflow: hidden; */
}


tbody {
    background-color: #fff;
}

table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

tbody tr {
    height: 45px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

th {
    text-align: left;
    height: 50px;
    font-weight: 400;
}

td {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
}
th ,
td {
    padding-left: 20px;
}

.quantity {
    text-align: center;
}