body {
    background-image: linear-gradient(90deg,rgb(123, 17, 150), rgb(145, 47, 170), rgb(199, 86, 161));
}
.table {
    height: inherit;
    width: 90%;
    border-collapse: collapse;
    background-color: rgb(166, 25, 201);
    color: white;
    font-weight: bold;
    table-layout: fixed;
    margin-left: 100px;
    border-radius: 10px;
}
thead 
th {
    background-color: rgb(57, 36, 104);
    padding: 15px;
}
tbody td {
    padding: 15px;
}
.single {
    background-color: #ffffff;
    color: #000000;
}
.in-a-relationship {
    background-color: rgb(226, 225, 225);
}
thead th:nth-child(1){
    text-align: left;
}
thead th:nth-child(2) {
    text-align: left;
}
thead th:nth-child(3) {
    text-align: left;
}
thead th:nth-child(4) {
    text-align: right;
}
thead th:nth-child(5) {
    text-align: left;
}
thead th:nth-child(6) {
    text-align: left;
}
tbody td :nth-child(4) {
    text-align: right;
}