body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(237, 237, 248);
  }

.section-first {
    width: 100%;
    height: 600px;
    background-color: cadetblue;
    background-image: url(santoriniperf.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: 3px solid white;
    width: 40%;
    padding: 10px;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 70px;
    margin-top: 30px;
}

h1 {
    font-size: 50px;
    color: #ffff;
    display: flex;
    justify-content: flex-start;
}
 
 nav ul li {
    display: inline-block;
    background-color: none;
    margin-left: 1250px;
  }

  nav ul li:hover > ul {
    display: inherit;
  }

  nav a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 1.25rem;
    padding: 0 10px;
    line-height: 60px;
  }
    
  nav a:hover {
    background-color: rgb(241, 241, 241);
  }

  nav ul ul li {
    width: 20px;
    position: relative;
    display: inline;
  }

  nav ul li a:hover {
      width: 40px;
  }

  nav ul ul li:nth-child(1) a{
      width: 50px;
  }

  nav ul ul li:nth-child(2) a{
    width: 70px;
  }

  nav ul ul li:nth-child(3) a{
        width: 90px;
    }
  nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
  }

.section-first p {
    color: #ffff;
    font-weight: bold;
}

.display {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    padding-left: 50px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.nav-options {
    padding-right: 35px;
}

.section-3 {
    width: 100%;
    height: 300px;
    background-color: rgb(244, 244, 248);
    display: flex;
}
.div-div {
    width: 250px;
    height: 250px;
    background-size: cover;
    display: flex;
    margin-left: 300px;
    margin-top: 70px;

}
.div-div-1 {
    margin-top: 200px;
    margin-left: 110px;
}