body {
    background-color: rgb(198, 203, 223);
}

table {
    width: 90%;
    margin: 30px 30px;
    table-layout: fixed;
    background-color: #a7a7a7;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 10px 10px 20px -10px black;
}

caption {
    text-align: left;
    font-size: 2rem;
}

section {
    width: 90%;
    height: 850px;
    margin: 40px 40px;
    background-color: #a7a7a7;
}

thead tr th{
    padding: 20px;
    text-align: left;
}

tbody tr {
    background-color: #d6d2d2;
    box-shadow: 10px 10px 20px -10px #251111;
    
}

tbody tr td {
    padding: 10px;
}




.gallery {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
}

.username {
    margin: 5px;
}

.username span{
    font-size: 1rem;
    color: #615c5cda;
}

.fa-circle {
    color: #238b1a;
    margin: 5px;
}

.red-color {
    color: #c21919;
}

.btn {
    background-color: rgba(12, 71, 199, 0.733);
    color: #fff;
    border: solid rgba(12, 71, 199, 0.733);
    border-radius: 3px;
}

tbody tr td:nth-child(6) {
    color: #0c47c7bb
}