 @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.calculator {
    width: 450px;
    height: 500px;
    grid-template-columns: 1fr ;
    grid-template-areas: "main main";
    background-color: black;
    padding: 6px;

}
.main {
    display: grid;
    height: 25%;
    padding-bottom: 3px;
    font-family: 'PT Serif', serif;
    font-size: 26px;
    text-align: right;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main"
    "result";
}

.keyboard {
    display: grid;
    height: 75%;
    width: 100%;
    background-color: #fff;
    font-size: 40px;
    padding: 1px;
    font-family: 'Orbitron', sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "ac ac slash times" 
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}

.box {
    background-color: rgb(88, 88, 88);
    color: white;
    margin: 1px 1.5px;
   
}

.box-bg {
    background-color: rgb(125, 144, 168);
    box-shadow:inset 5px 5px 10px #adadad;
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* MAIN */
#main {
    grid-area: main;
    background-color: rgb(66, 92, 91);
}

#result {
    grid-area: result;
    background-color: black;
}

#seven{
    grid-area: seven;
}

#ac{
    grid-area: ac;
    background-color: rgb(153, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;  
}

#slash{
    grid-area: slash;
}
#times{
    grid-area: times;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#minus{
    grid-area: minus;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#plus{
    grid-area: plus;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#equal{
    grid-area: equal;
}
#zero{
    grid-area: zero;
}
#dot{
    grid-area: dot;
} 

